{% extends "base.html" %}

{% block libs %}
  {{ super() }}
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js"></script> -->

  <script src="https://cdn.plot.ly/plotly-2.23.0.min.js"></script>
  <!-- <script src="https://cdn.plot.ly/plotly-2.23.0.js"></script> -->
  <script>
    // hack to avoid clash with https://github.com/github/clipboard-copy-element
    // which are used to copy the content of cells
    window.require = function(args, callback) {
      if (args && args.length === 1 && args[0] === "plotly") {
        callback(window.Plotly);
        return
      }
      console.warn("Requirement of...", args);
    }

    window.require.undef = function () {}
    window.requirejs = {
      config: function () {}
    }
  </script>
{% endblock %}